# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build
/build
/dist

# Environment variables
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Scratch & Temporary
files.zip
files/
scripts - Copy/
